# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

out/
release-builds/win-unpacked
release-builds/builder-debug.yml
/release-builds/BonaAbzarCNC Setup 0.1.0.exe
/release-builds/BonaAbzarCNC Setup 0.1.0.exe.blockmap
/release-builds/builder-effective-config.yaml
/release-builds/latest.yml
/release-builds/*
