@import "tailwindcss";

.ace_active-line{
    background:#ff000090 !important
}
.ace_gutter-active-line{
    background:#ff0000 !important;
    color:#fff
}
.gcode-line-highlight{
    background:aqua !important;
}

.ace_search {
    position: sticky !important;

}

input:focus, textarea:focus, select:focus {
    outline: 2px solid rgb(135, 206, 222);
    outline-offset: 2px;
}